.expense-date {
  @include grid(1fr, repeat(3, auto));
  flex: 0.25;
  justify-items: center;
  background: $eerie-black;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid $cultured;
  gap: 0.5rem;
  letter-spacing: 0.05rem;
  div {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    color: $gainsboro;
  }
  .expense-date-day {
    font-size: 1.1rem;
  }
}
