.expense-date {
  @include grid(1fr, repeat(3, auto));
  flex: 0.25;
  justify-items: center;
  background: $raisin-med;
  padding: 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border: 1px solid $platinum;
  gap: 0.5rem;
  letter-spacing: 0.05rem;
  div {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: $platinum;
  }
  .expense-date-month,
  .expense-date-day {
    font-weight: bold;
  }
  .expense-date-year {
    font-size: 1.6rem;
  }
  .expense-date-month .expense-date-day {
    font-size: 1.8rem;
  }
}
