.expense-item {
  @include flex(space-between, center, row);
  box-shadow: 0 2px 8px rgba($color: $black-fogra, $alpha: 0.25);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 1rem;
  background: $eerie;
  color: $cultured;
  h2 {
    color: $gainsboro;
    flex: 1;
    margin: 0 1rem;
  }
}
.expense-item__description {
  @include flex(center, center, row);
  gap: 1rem;
  flex: 1;
  text-align: center;
  @include mq(phablet) {
    @include flex(flex-start, center, row);
    flex: 1;
  }
}
.expense-item__price {
  font-weight: bold;
  background-color: $purple;
  border: 1px solid $cultured;
  padding: 0.5rem;
  border-radius: 1rem;
  @include mq(phablet) {
    padding: 0.5rem 1.5rem;
  }
}
