.expense-item {
  @include grid(0.3fr 1fr, 1fr);
  gap: 1rem;
  padding: 0.5rem;
  margin: 1rem 0;
  background: $raisin-black;
  color: $platinum;
  -webkit-box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.4);

  h2 {
    color: $platinum;
    flex: 1;
    margin: 0 1rem;
  }
  button {
    background: $platinum;
    border-radius: 0.75rem;
    font-size: 1.5rem;
    margin: auto;
  }
}
.expense-item__description {
  @include flex(center, center, row);
  gap: 1rem;
  flex: 1;
  text-align: center;
  @include mq(phablet) {
    @include flex(flex-start, center, row);
    flex: 1;
  }
}
.expense-item__price {
  font-weight: bold;
  background-color: $jet;
  border: 1px solid $dim-gray;
  padding: 0.5rem;
  border-radius: 1rem;
  @include mq(phablet) {
    padding: 0.5rem 1.5rem;
  }
}
