.app-wrapper {
  height: 75vh;
  overflow-y: scroll;
  width: 100%;
}
.expenses-filter {
  width: 100%;
  height: 100%;
}
.expenses-filter__control {
  @include flex(space-between, center, row);
  label {
    color: $platinum;
  }
  select {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: $dim-gray;
    color: $platinum;
  }
}
